.Tasks {
  display: flex;
  width: 249px;
  margin: 20px;
  padding: 20px;
  justify-content: right;
  top: 500px;
  left: 1088px;
  height: 59px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  opacity: 1;
}

.dotBoard {
  top: 547px;
  left: 356px;
  width: 16px;
  height: 16px;
  border: 3px solid #C4CE9C;
  opacity: 1;
  border-radius: 200%;
}

.nameOfTask {
  top: 432px;
  left: 1635px;
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
}

/* .kav {
  display: -webkit-inline-box;
  border-left: 2px solid #c2bfbf;
  height: 84px;
  position: relative;
  margin-top: -47.5px;
  left: 76px;
  float: inherit;

} */


.kav {
  display: -webkit-inline-box;
  border-left: 2px solid #c2bfbf;
  height: 84px;
  position: relative;
  margin-top: -6.5px;
  left: 275px;
  float: inherit;
}

.nameStationBoard {
  width: 177px;
  position: relative;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  bottom: 37px;
  right: 185px;
  text-align-last: end;
}

.kav2 {
  display: -webkit-inline-box;
  border-left: 2px solid #c2bfbf;
  height: 84px;
  position: relative;
  margin-top: -6.5px;
  left: 255px;
  float: inherit;
}

.titleStat {
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  position: relative;
  right: 48px;
  top: -13px;
}

.kavT {
  border-top: 2px solid #c2bfbf;
  width: 15px;
  position: relative;
  margin-top: 11px;
  left: 269px;
  bottom: -40px;
}

.kavB {
  border-top: 2px solid #c2bfbf;
  width: 15px;
  position: relative;
  margin-top: 11px;
  left: 269px;
  bottom: -5px;
}

.kavTask {
  display: -webkit-inline-box;
  border-left: 2px solid #c2bfbf;
  height: 57px;
  position: relative;
  margin-top: -0.5px;
  left: 58px;
  float: inherit;

}

.kavTask2 {
  border-left: 2px solid #c2bfbf;
  height: 45px;
  position: relative;
  margin-top: -47.5px;
  left: 47px;
  float: inherit;

}


/* .kavTop {
  border-top: 2px solid #c2bfbf;
  width: 31px;
  position: relative;
  margin-top: 35px;
  left: 47px;
} */
.kavTaskTop {
  border-top: 2px solid #c2bfbf;
  width: 13px;
  position: relative;
  margin-top: -7px;
  left: 33px;
  top: 3px;
}

.kavTop {
  border-top: 2px solid #c2bfbf;
  width: 25px;
  position: relative;
  margin-top: -7px;
  left: 252px;
  top: -50px;
}

.Tasks:hover {
  /* background: linear-gradient(90deg, #1ed4da 0, #72ae7a);
  color: aliceblue; */
  background-color: #fbfbfb;


}

.dotBoard {
  top: 547px;
  left: 356px;
  width: 16px;
  height: 16px;
  border: 3px solid #C4CE9C;
  opacity: 1;
  border-radius: 200%;
}

.nameOfTask {
  top: 432px;
  left: 1635px;
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
}


.Tasks {
  display: flex;
  width: 230px;
  margin: 13px;
  margin-left: 24px;
  padding: 20px;
  justify-content: right;
  top: 500px;
  left: 1088px;
  height: 59px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  opacity: 1;
}

.dotBoard {
  top: 547px;
  left: 356px;
  width: 16px;
  height: 16px;
  border: 3px solid #C4CE9C;
  opacity: 1;
  border-radius: 200%;
}

.nameOfTask {
  top: 432px;
  left: 1635px;
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
}