.stap1 {
  background-color: #50595c;
  width: 251.999986px;
  padding: -30px;
  position: relative;
  left: -1px;
  top: -83px;
  height: 49px;
  margin-bottom: 4px;
}

.stap2 {
  background-color: #000507;
  padding: -30px;
  width: 255px;
  margin-left: 4px;
  margin-top: 28px;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
  overflow: auto;
  height: 398px;
}

.stap3 {
  background-color: #2f2f2f;
  margin-top: -20px;
  overflow: auto;
  height: 32px;
  border-radius: 0px 0px 20px 20px;
}

/* .stap2::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  height: 80px;
}

.stap2::-webkit-scrollbar {
  width: 10px;
  height: 20px;

}

.stap2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
  height: 20px;

} */

.stap2::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #2f2f2f;
  color: #2f2f2f;
}

.stap2::-webkit-scrollbar {
  width: 4px;
  background-color: #2f2f2f;
  color: #2f2f2f;
}

.stap2::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border: 1px solid #2f2f2f;
  color: #2f2f2f;
}

.dotBoard {
  top: 547px;
  left: 356px;
  width: 16px;
  height: 16px;
  border: 3px solid #C4CE9C;
  opacity: 1;
  border-radius: 200%;
}

.listenIcon {
  border: none;
  height: 167.2px;
  width: 36px;
  background: transparent url('../../Pictures/ic_listen\ .svg') 0% 0% no-repeat padding-box;
  position: relative;
  top: -115px;
  left: 56px;
  margin-top: 51px;
}

.listenIconStation {
  border: none;
  height: 117.2px;
  width: 36px;
  background: transparent url('../../Pictures/ic_listen\ .svg') 0% 0% no-repeat padding-box;
  position: relative;
  top: -75px;
  left: 6px;
  margin-top: 51px;
}

.nameOfTaskPhone {
  width: 160px;
  font: normal normal bold 15px/20px Assistant;
  color: #505050;
  text-align: end;
  position: relative;
  top: 232px;
  text-align: center;
}

.kav {
  display: -webkit-inline-box;
  border-left: 2px solid #c2bfbf;
  height: 84px;
  position: relative;
  margin-top: -6.5px;
  left: 275px;
  float: inherit;
}

.margin {
  display: -webkit-inline-box;
  height: 84px;
  position: relative;
  margin-top: -6.5px;
  left: 275px;
  float: inherit;
}

.nameStationBoard {
  width: 177px;
  position: relative;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  bottom: 42px;
  right: 185px;
  text-align-last: end;
}

.nameStationBoardPhone {
  position: relative;
  color: white;
  text-align-last: right;
  top: 13px;
  left: -3px;
}

.kavPhoneStationBoard {
  border-left: 2px solid #747474;
  height: 51px;
  position: relative;
  margin-top: -94.5px;
  left: -58px;
  margin-left: 186px;
  top: -54px;
}

.kav2 {
  display: -webkit-inline-box;
  border-left: 2px solid #c2bfbf;
  height: 84px;
  position: relative;
  margin-top: -6.5px;
  left: 255px;
  float: inherit;
}

.titleStat {
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  position: relative;
  right: 48px;
  top: -13px;
}

.titleStat1 {
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  position: relative;
  right: 48px;
  top: -13px;
}

.kavT {
  border-top: 2px solid #c2bfbf;
  width: 15px;
  position: relative;
  margin-top: -17px;
  left: 269px;
  bottom: -40px;
}

.kavTask {
  border-left: 2px solid #c2bfbf;
  height: 57px;
  position: relative;
  margin-top: -0.5px;
  left: -68px;
  margin-left: 91px;
  top: 24px;
}

.kavTask1 {
  border-left: 2px solid #c2bfbf;
  height: 57px;
  position: relative;
  margin-top: -0.5px;
  left: -68px;
  margin-left: 91px;
  top: 24px;
}

.kavTask2 {
  border-left: 2px solid #c2bfbf;
  height: 70px;
  position: relative;
  margin-top: -108.5px;
  left: 9px;
  float: inherit;
  bottom: -27px;
}

.kavTask21 {
  border-left: 2px solid #c2bfbf;
  height: 59px;
  position: relative;
  margin-top: -149.5px;
  left: 261px;
  float: inherit;
  bottom: -27px;
}

.kavTask3 {
  border-left: 2px solid #c2bfbf;
  height: 59px;
  position: relative;
  margin-top: -108.5px;
  left: 9px;
  float: inherit;
  bottom: -27px;
}

.kavTaskTop {
  border-top: 2px solid #c2bfbf;
  width: 13px;
  position: relative;
  margin-top: -7px;
  left: -4px;
  top: 38px;
}

.newkavTaskTop {
  border-top: 2px solid #c2bfbf;
  width: 13px;
  position: relative;
  margin-top: -7px;
  left: -4px;
  top: 32px;
}

.kavTop {
  border-top: 2px solid #c2bfbf;
  width: 25px;
  position: relative;
  margin-top: -7px;
  left: 252px;
  top: -50px;
}

.dotBoard {
  top: 547px;
  left: 356px;
  width: 16px;
  height: 16px;
  border: 3px solid #C4CE9C;
  opacity: 1;
  border-radius: 200%;
}

.nameOfTask {
  top: 432px;
  width: 98px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  text-align: end;
  align-self: center;
}

.dotBoard {
  top: 547px;
  left: 356px;
  width: 16px;
  height: 16px;
  border: 3px solid #C4CE9C;
  opacity: 1;
  border-radius: 200%;
}

.imagesTablet {
  position: relative;
  top: -23px;
  left: 4px;
}

.imagesPositionPhone {}