.Board {
  left: 0px;
  width: 400px;
  height: 651px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: -34px;
}

.Cover_Tasks {
  float: left;
  padding: 1%;
  margin-right: 2%;
  font-size: small;
}

.TitleTasks {
  color: rgb(88, 92, 81);
  border-radius: 6px;
  margin-bottom: 17px;
  width: 272px;
  height: 50px;
}

.TasksCover {
  background-color: #F8F9F3;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: auto;
  height: 345px;
  width: 272px;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
}

.icon {
  font-size: 20px;
  color: #256FA1;
  top: 166px;
  left: 1572px;
  width: 24px;
  height: 31px;
  opacity: 1;
}


.tree {
  top: 235px;
  width: 21px;
  height: 43px;
  background: transparent url('../../Pictures/ic_tree.svg') 0% 0% no-repeat padding-box;
  border: 0px solid white;
  opacity: 1;
  position: relative;
  left: 29px;
  top: 6px;
}

.watch {
  width: 21px;
  height: 43px;
  background: transparent url('../../Pictures/ic_watch.svg') 0% 0% no-repeat padding-box;
  border: 0px solid white;
  opacity: 1;
  position: relative;
  left: 66px;
  top: -11px;
}

.phone {
  width: 21px;
  height: 43px;
  background: transparent url('../../Pictures/Ic_phone.svg') 0% 0% no-repeat padding-box;
  border: 0px solid white;
  opacity: 1;
  position: relative;
  left: 104px;
  top: -18px;
}

.tablet {
  width: 64px;
  height: 42px;
  background: transparent url('../../Pictures/Ic_tablet.svg') 0% 0% no-repeat padding-box;
  border: 0px solid white;
  opacity: 1;
  position: relative;
  left: 133px;
  top: -15px;
}

.computer {
  width: 51px;
  height: 35px;
  background: transparent url('../../Pictures/ic_computer.svg') 0% 0% no-repeat padding-box;
  border: 0px solid white;
  position: relative;
  top: -3px;
  left: 130px;
  margin-left: -146px;
}


.kavIconsTree {
  border-left: 2px solid #c2bfbf;
  height: 53px;
  position: relative;
  margin-top: -7.5px;
  left: 28px;
  float: inherit;
}

.kavIconsWatch {
  border-left: 2px solid #c2bfbf;
  height: 53px;
  position: relative;
  margin-top: -53.5px;
  left: 32px;
  top: 17px;
}

.kavIconsPhone {
  border-left: 2px solid #c2bfbf;
  height: 53px;
  position: relative;
  margin-top: -100.5px;
  left: 30px;
  float: inherit;
  top: 71px;
}

.kavIconsTablet {
  border-left: 2px solid #c2bfbf;
  height: 54px;
  position: relative;
  margin-top: -54.5px;
  left: -19px;
  float: inherit;
  top: 24px;
}


.addTaskCover {
  background-color: #F8F9F3;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 272px
}

.MediaCover {
  float: right;
  margin: 10%;
}

.AddTasks {
  width: 85%;
  height: 90px;
  margin: 20px;
  padding: 20px;
  justify-content: right;
  justify-Content: 'space-between';
  margin-right: 50px;
  border-radius: 1.5ch;
  color: rgb(90, 107, 122);
  border-style: dotted;
  background-color: rgb(240, 247, 229);
}

.AddRoute {
  border: none;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  position: relative;
  left: 40px;
}

.AddTasks:hover {
  background-color: #fbfbfb;
}

.MyTasks {
  width: 313px;
  height: 431px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #6A6865;
  border-radius: 0px 0px 6px 6px;
  opacity: 1;
  margin-left: 43px;
  overflow: auto;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
}

.mySiteChois {
  margin-top: 20px;
  width: 171px;
  text-align: -7px;
  font: normal normal bold 20px/26px Assistant;
  letter-spacing: 0px;
  color: #4A2C6E;
  opacity: 1;
  margin-left: auto;
  position: relative;
  top: 6px;
}

.my_Buttons_icons {
  position: relative;
  left: 43px;
  width: 313px;
  height: 54px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #6A6865;
  border-radius: 6px 6px 0px 0px;
  opacity: 1;
}

/* span {

  position: relative;

  font-family: cursive;
  color: rgb(185, 168, 197);
  animation: blink 1s linear infinite;
} */

@keyframes blink {
  99.9999% {
    opacity: 0;
  }

  100% {
    opacity: .999;
  }
}

.txt {
  width: 368px;
  text-align: right;
  font: normal normal 600 23px/30px Assistant;
  color: #505050;
  position: relative;
  top: 34px;
}

.helpBtn {
  background-color: rgba(49, 70, 90, 0.9);
  border-radius: 20px;
  color: #ffffff;
  font-family: ReformaNarrowMedium;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
}

.helpBtn:hover {
  background-color: rgba(79, 113, 145, 0.9);
}

.force-overflow {
  min-height: 450px;
}

.TasksCover::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.TasksCover::-webkit-scrollbar {
  width: 10px;
}

.TasksCover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}

.force-overflow {
  min-height: 450px;
}

.MyTasks::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.MyTasks::-webkit-scrollbar {
  width: 10px;
}

.MyTasks::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}