.Places {
  background-color: #7A78B71F;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  /* border-radius: 1.5ch; */
  height: 163px;
  overflow: auto;
  width: 287px;

}

.routs {
  background-color: #256FA11F;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  /* border-radius: 1.5ch; */
  height: 163px;
  overflow: auto;
  width: 287px;
}

.MyTitle {
  top: 301px;
  height: 34px;
  font: normal normal bold 26px/34px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  margin-top: 14px;
}

.MyRoutesTitle {
  margin-top: 15px;
  margin-left: 25px;
}

.eyeIcon {
  top: 440px;
  width: 66px;
  height: 13px;
  /* UI Properties */
  background: transparent url('../../Pictures/ic_eye.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.penIcon {
  top: 523px;
  left: 1497px;
  width: 30px;
  height: 16px;
  /* UI Properties */
  background: transparent url('../../Pictures/Ic_pen.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.threeDotsVertical {
  width: 352px;
  height: 34px;
  opacity: 1;
  margin-left: -181px;
  margin-top: 15px;
}

.threeDotsVerticalEng {
  width: 34px;
  height: 34px;
  opacity: 1;
  margin-left: 160px;
  margin-top: 15px;
}


.threeDotsVerticalEngStation {
  width: 274px;
  height: 34px;
  opacity: 1;
  margin-right: -124px;
  margin-top: 15px;
}

.addPlaceCover {
  background-color: #7A78B71F;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;

}

.Place {
  margin: 20px;
  top: 412px;
  left: 1471px;
  width: 301px;
  height: 64px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  opacity: 1;
}

.Place,
.AddPlace {
  display: flex;
  width: 85%;
  height: 68px;
  margin: 20px;
  padding: 20px;
  justify-content: right;
  justify-Content: 'space-between';
  margin-right: 50;
  border-radius: 1.5ch;
  font-size: small;

}

.Place:focus {
  background: linear-gradient(90deg, #f6f5ff 0, #bb98f3);
  transition: 0.4s;
}

.AddPlace {
  top: 588px;
  height: 64px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px #00000033;
  border: 2px dashed #9B9B9B;
  border-radius: 8px;
  opacity: 1;
  margin: 20px;
}

.plus {
  top: 585px;
  left: 1609px;
  width: 93px;
  height: 24px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 49px/64px Assistant;
  letter-spacing: 0px;
  color: #9B9B9B;
  opacity: 1;
}

.Place:hover {
  background: linear-gradient(90deg, #1ed4da 0, #72ae7a);
  color: rgb(232, 238, 237)
}

.AddPlace:hover {
  background: linear-gradient(90deg, #f6f5ff 0, #dde2fa);

}

.TitlePlacesCover {
  height: 65px;
  border-radius: 6px;
  opacity: 1;
  margin-bottom: 26px;
  width: 286px;
}

.name_of_site_title {
  color: #7A78B7;


  font: normal normal bold 26px/34px Assistant;
  letter-spacing: 0px;

  opacity: 1;
  margin-top: 14px;
}

.TitlePlaces {
  top: 301px;
  height: 34px;

  font: normal normal bold 26px/34px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 10px;
}


.dot {
  top: 524px;
  left: 1736px;
  width: 14px;
  height: 14px;
  /* UI Properties */
  background: black;
  opacity: 1;
  border-radius: 50%;
}

.nameOfSite {
  top: 432px;
  left: 1635px;
  width: 89px;
  height: 24px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
}

.loading {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.search {
  text-align: right;

}

.searchRoute {
  top: 322px;
  left: 1468px;
  width: 300px;
  height: 35px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border-radius: 21px;
  opacity: 1;
}

.searchButton {
  top: 322px;
  left: 1468px;
  width: 260px;
  height: 28px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border-radius: 21px;
  opacity: 1;
  border: #dde2fa;
  margin-right: 17px;
  background-image: url('../../Pictures/Search.svg');
  background-position: 220px 4px;
  padding: 12px 50px 12px 40px;
  font-size: 12px;




}




.force-overflow {
  min-height: 450px;
}

.Places::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
}

.Places::-webkit-scrollbar {
  width: 10px;
}

.Places::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}

.routs::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.routs::-webkit-scrollbar {
  width: 10px;
}

.routs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}