.Places {
  background-color: rgb(237, 234, 255);
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 1.5ch;
  height: 435px;
  overflow: auto;

}

.addPlaceCover {
  background-color: rgb(237, 234, 255);
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;

}

.Place {
  margin: 20px;
}

.Place,
.AddPlace {
  display: flex;
  width: 85%;
  height: 18%;
  margin: 20px;
  padding: 20px;
  justify-content: right;
  justify-Content: 'space-between';
  margin-right: 50;
  border-radius: 1.5ch;
  font-size: small;
}

.Place:focus {
  background: linear-gradient(90deg, #f6f5ff 0, #bb98f3);
  transition: 0.4s;
}

.AddPlace {
  background-color: rgb(243, 241, 255);
  color: rgb(90, 107, 122);
  border-style: dotted;
  margin: 20px;
}

.Place:hover {
  background: linear-gradient(90deg, #1ed4da 0, #72ae7a);
  color: rgb(232, 238, 237)
}

.AddPlace:hover {
  background: linear-gradient(90deg, #f6f5ff 0, #dde2fa);

}

.TitlePlaces {
  background: linear-gradient(90deg, rgb(161, 147, 229) 5%, rgb(237, 234, 255) 1%);
  color: rgb(94, 92, 104);
  height: 40px;
  border-radius: 1ch;
  margin-bottom: 15px;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 10px;
}


.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.loading {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.search {
  text-align: right;
}