.Places {
  background-color: #7A78B71F;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 345px;
  overflow: auto;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
}

.routs {
  background-color: #256FA11F;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 345px;
  overflow: auto;
  width: 272px;
  scrollbar-color: #bfc4ce #dadbe2 !important;
  scrollbar-width: thin !important;
}

.text {
  font: normal normal bold 26px/34px Assistant;
  color: #505050;
}

.MyTitle {
  margin-top: 25px;
  position: relative;
  top: 6px;
  left: -24px;
  font-size: 23px;
  text-align: right;
  align-items: center;
  align-self: center;
  align-content: center;
}

.MyRoutesTitle {
  margin-top: 17px;
  margin-left: 25px;
  position: relative;
  bottom: 10px;
  font-size: 23px;
}

.eyeIcon {
  width: 66px;
  height: 24px;
  background: transparent url('../../Pictures/ic_duplicate.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: 2px;
  right: 15px;
}

.threeDotsVertical {
  width: 352px;
  opacity: 1;
  margin-left: -181px;
  margin-top: 15px;
}

.threeDotsVerticalEng {
  opacity: 1;
  position: relative;
  left: -65px;
  font-size: 18px;
}

.threeDotsVerticalEng:hover+.ModalIcons {
  display: block;
}

.threeDotsVerticalTasks {
  opacity: 1;
  position: relative;
  left: -85px;
  font-size: 18px;
}

.threeDotsVerticalEngStation {
  width: 274px;
  opacity: 1;
  margin-right: -124px;
  margin-top: 15px;
}

.addPlaceCover {
  background-color: #7A78B71F;
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.Cover_Places {
  flex: 1 1 auto;
  margin: 0 4px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 4px;
  z-index: 1;
}

.buttons {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0 2px 2px #00000080;
  display: flex;
  height: 59px;
  justify-content: right;
  margin: 13px 13px 13px 23px;
  padding: 20px;
  width: 225px;
}

.AddButton {
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px #00000033;
  border: 2px dashed #9B9B9B;
  border-radius: 8px;
  opacity: 1;
  width: 236px;
  position: relative;
  left: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.plus {
  width: 93px;
  height: 24px;
  color: #9B9B9B;
  opacity: 1;
  align-self: center;
}

.Place:hover {
  background-color: #fbfbfb;
}

.AddButton:hover {
  background-color: #fbfbfb;
}

.TitlePlacesCover {
  height: 50px;
  border-radius: 6px;
  opacity: 1;
  margin-bottom: 17px;
  width: 272px;
}

.name_of_site_title {
  color: #7A78B7;
  font-size: 23px;
}

.TitlePlaces {
  top: 301px;
  height: 34px;
  font: normal normal bold 26px/34px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  margin-top: 25px;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.dot {
  top: 524px;
  left: 1736px;
  width: 14px;
  height: 14px;
  background: black;
  opacity: 1;
  border-radius: 50%;
}

.nameOfButton {
  width: 115px;
  font: normal normal bold 15px/20px Assistant;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  text-align: end;
  padding: ce;
  align-self: center;
}

.loading {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.search {
  text-align: right;
}

.searchButton {
  width: 231px;
  height: 29px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000080;
  border-radius: 21px;
  border: #dde2fa;
  margin-right: 19px;
  background-image: url('../../Pictures/Search.svg');
  background-position: 202px 5px;
  padding: 12px 50px 12px 40px;
  font-size: 12px;
}

.force-overflow {
  min-height: 450px;
}

.Places::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.Places::-webkit-scrollbar {
  width: 10px;
}

.MyTitle .border {
  display: inline-block;
  background-color: #111;
  color: #fff;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.Places::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}

.routs::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #dadbe2;
  border-radius: 10px;
}

.routs::-webkit-scrollbar {
  width: 10px;
}

.routs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfc4ce;
  border: 1px solid rgb(235, 235, 235);
}