.boxContainer {
  margin: auto;
  position: relative;
  width: 250px;
  height: 42px;
  border: 1px solid white;
  padding: 0px 5px;
  border-radius: 50px;
  background-color: white;
}

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.searchBarInput {
  border: none;
  height: 100%;
  width: 110%;
  padding: 0px 3px;
  border-radius: 50px;
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.boxContainer .elementsContainer .searchButton {
  position: relative;
  left: 10px;
  top: -5px;
  box-shadow: none;
}
